header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.alemovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff
}

.alemovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.alemovie-contact-container{
    display: flex;
    align-items: center;
}

.alemovie-contatct-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}